[2016-11-16 04:29] Hrxn opened #2 "Criteria and metrics?"
Okay, I assume this extension exists because of the debate around questionable news sources shared on Facebook, right?

Good, but all it does is checking the site visited by the user against a list of domains.

Which leads us to the interesting question: what are the criteria and metrics that decide about a domain ending up on said list? The mechanism? The deciding factors taken into account? Wher

[2016-11-16 06:59] selfagency commented on #2
check out the updated readme

[2016-11-16 07:26] benbuckman opened #3 "Suggestions for improving performance"
First of all, thank you for making this.

Looking at the code, it appears that it scans all links on the page [every 10ms](https://github.com/selfagency/bs-detector/blob/master/ext/src/inject/inject.js#L397), on every page. (Is that accurate?) That seems like it could slow down the browser (and increase CPU usage) significantly.

Suggestions for improving performance:

1. Limit it to specific doma

[2016-11-16 08:51] tiksn opened #4 "Microsoft Edge support"
Most users use default Windows browser (Edge). Can you create extension for Edge?

[2016-11-16 18:48] selfagency commented on #4
IE9 has a bigger marketshare than Edge right now, which has only 2.5% of the browser market. I'll consider it for the future, but it's a low priority.

[2016-11-16 18:49] selfagency commented on #3
These are good suggestions. However, it's not checking every 10ms, it is checking on page load and scroll only. I will definitely take 1 and 3 under advisement.

[2016-11-17 07:37] benbuckman commented on #3
Thanks!
Is the 10ms interval simply waiting for the page to load?

[2016-11-17 13:17] wilsonehusin opened #7 "Satire vs B.S."
I saw the list of websites in the list and some of them are just satire websites instead of B.S. news (borowitzreport.com for example). I would suggest to say "this is a satire article" instead of saying it's B.S. straight up.

[2016-11-17 16:13] ZKnowN opened #9 "Firefox Support"
Any love for firefox users?

[2016-11-17 19:06] selfagency commented on #3
Yeah, it's `$(document).ready()`.

[2016-11-17 19:06] selfagency commented on #7
Yes, in the next version I am going to break up the list into different categories with different messages for each.

[2016-11-17 21:05] eyesonlyhack opened #12 "Liberal filter bias"
If you lookup some those websites on wikipedia, certain sites are clearly not BS. They are either libertarian, conservative, Christian, far-right or alt-right. For example, Prisonplanet does cover some conspiracy theories but does this make the whole site BS when I found most articles to be perfectly reasonable and newsworthy?

RT has a Russian Putin bias but most media outlets are very bias towar

[2016-11-17 23:23] Bastlynn commented on #9
The greasemonkey script got put up a few hours ago. I'm working on a proper FireFox extension later this week.

[2016-11-18 00:00] EoinGriffin-AI commented on #3
Since there's already an issue started re:performance I'll add in my suggestion here.
I see you're currently using the scroll event, but that's slowing down my browser significantly (I might try this extension again if the performance improves).
To get the maximum performance I recommend using a MutationObserver so that it will only check the DOM when it changes (an anchor tag is added or updated,

[2016-11-18 00:29] selfagency commented on #12
If you think WorldNetDaily and PrisonPlanet are legitimate news sources, we have nothing to discuss.

[2016-11-18 00:29] #12 closed

[2016-11-18 00:33] selfagency commented on #3
@EoinGriffin-AI Thanks, I will take a look into that and try to integrate it in the next significant update.

[2016-11-18 04:06] D-Radford opened #13 "Doesn't seem to be working on my Linux system"
The icon is faded, and I'm seeing nothing happening. I'm running Google's chrome, not the open source version. It's on the most recent linuxmint/xfce install.

[2016-11-18 04:12] #13 closed

[2016-11-18 04:14] D-Radford commented on #13
My bad - it *is* working, despite the inactive appearance in the status bar.

[2016-11-18 18:15] Bastlynn commented on #7
I like this feature a lot as well. :)

[2016-11-18 18:17] Bastlynn commented on #3
I didn't even know that was a feature in JS. Thank you!

[2016-11-18 18:17] anodynos commented on #3
You can also place `var links = [...]` outside the `setInterval` function, to both clean the code and not redclare it at each run.

You can add it on line 2 after `chrome.extension.sendMessage({}, function(response) {` or better wrap the whole code with a closure and stick it there, eg
[code]

[2016-11-18 23:08] tresrottn commented on #7
Agree. thebeaverton.com is also satire (Canadian humor, lol) They seemed pleased the addon considers their site questionable :D

[2016-11-18 23:13] tresrottn opened #16 "Please add http://aneurotickid.topratedviral.com/"
Please add http://aneurotickid.topratedviral.com/ to the list.
Questionable content http://aneurotickid.topratedviral.com/article/donald-trump-legalize-marijuana-in-all-50-states/promote/1001241

Trump never said this. It's already hit the Snopes group on Facebook as folks look for confirmation if it's true or not.
Thanks for the addon, it's working quite flawlessly, and I have no problem recommen

[2016-11-19 15:50] stevendelapena commented on #2
From the readme: "The list was compiled from various sources and consists chiefly of websites that traffic in fake news, parody news, unsourced claims, fabrications, innuendo, and conspiracy theory. I have done my absolute best to stay wholly objective and as such the entries span the political spectrum" What sources? If you want to be objective then list sources and let the community decide wheth

[2016-11-19 20:03] selfagency commented on #16
added

[2016-11-19 20:03] #16 closed

[2016-11-19 21:44] Hrxn commented on #2
I guess that here "objective" simply means *according to my personal opinion*....

[2016-11-19 22:24] selfagency commented on #2
Is anyone forcing you to use this plugin? Either help make it better by making meaningful and constructive suggestions for improvement or fuck right off.

[2016-11-19 22:47] #2 closed

[2016-11-19 23:05] selfagency commented on #7
@hrxn @stevendelapena If you actually want to help instead of just talking shit about my initial methodology, see above. 👆🏻

[2016-11-20 15:13] agucova opened #17 "Link Shorteners"
The extension doesn't seem to detect articles that are behind a link shortener like bit.ly or goo.gl.

By example, Twitter uses t.co for all links, making the extension unusable.

<img width="586" alt="notworking" src="https://cloud.githubusercontent.com/assets/4694408/20463827/a32a15e8-af1a-11e6-9784-d13233432ec8.png">

[2016-11-20 15:17] agucova commented on #17
It seems the extension filters for facebook.com, but the problem persists with facebook articles using link shorteners, like [The Onion](https://www.facebook.com/TheOnion/).

[2016-11-20 16:56] selfagency commented on #17
Yes, I am aware of the issue. I'm not really sure how to address it tho. It would require some sort of link resolver, I imagine.

[2016-11-20 16:58] selfagency commented on #17
something like this maybe

[code]

[2016-11-21 01:44] stevendelapena commented on #7
I merely suggested you cite your sources, since you claim that is a reason for putting these sites on a list. If you wanna be avoid the suggestion for transparency and be hypocritical about your approach - have at it. You are only contributing to the problem of truth and transparency you claim to care about.

[2016-11-21 01:58] selfagency commented on #3
I've switched the jQuery Slim and implemented the mutation observer.

[2016-11-21 01:58] #3 closed

[2016-11-21 01:58] #4 closed

[2016-11-21 02:02] selfagency commented on #7
@stevendelapena The sources are myriad lists of fake news sites that have been compiled by others that I collected from around the web and merged together — I honestly can't even remember all of the ones I drew from. However, as noted above, I am currently in the process of going through each site individually, removing those which don't belong, and providing a categorization that explains the rea

[2016-11-21 02:02] selfagency commented on #7
The JSON datafile and the ability to sort items by category is now integrated.

[2016-11-21 02:02] #7 closed

[2016-11-21 02:12] stevendelapena commented on #7
Again, you write: " The sources are myriad lists of fake news sites that have been compiled by others " , just reference who "the others" are. If you are going to put a site on a list because they don't reference their sources, it would be hypocritical to not so the same. And I never made the claim about willfully misleading people. This would imply that ALL sites without references are willfully

[2016-11-21 05:16] jprobst24 opened #19 "Websites to assess"
westernjournalism.com
redstatewatcher.com
thehill.com
sofrep.com
It would also be great if there was a way for users to submit additional websites for assessment.

[2016-11-21 09:51] auswegian opened #20 "The Australian Newspaper http://www.theaustralian.com.au/ For BS detector"
Unreliable news source, for the BS detector.
Murdoch media site,http://www.theaustralian.com.au/
Promoting alt right propaganda, akin to Fox News.

[2016-11-21 12:02] microAlexx opened #21 "type for legorafi.fr and theonion.com"
Hi,

legorafi.fr is a parody website based on lefigaro.fr (real news) and theonion.com (fake news) so you should most likely classify it as "fake" or at least "parody".
legorafi.fr and theonion.com are very similar and should be classified as the same type.

Thanks.

[2016-11-21 20:14] mtoner opened #22 "Please consider removing Private-Eye.co.uk"
Please consider removing Private-Eye.co.uk from the list.

Here is an article about Private Eye and its editor Ian Hislop:
http://www.telegraph.co.uk/culture/9692766/Inside-the-Private-world-of-Ian-Hislop.html

Fittingly, here it is arguing against Facebook allowing autism "cure" articles:
http://www.private-eye.co.uk/issue-1431/in-the-back

It is left leaning, mostly offline magazine (the UK's No

[2016-11-21 20:41] owlboy opened #23 "Safari Solution?"
I know everyone has their favorite browser. So here is the Safari request. 😀

[2016-11-21 22:23] thisiskatkat opened #24 "Chrome extension: scrolling in OS X using touchpad lagging"
Great work!

The Chrome extension seems to have some performance issues.
After installing this, scrolling through websites using touchpad is visibly slower.
Tried in Chrome, OS X. Examples of websites tested - facebook.com, http://www.theonion.com/, breitbart.com

Let me know if you need more info/testing etc.

[2016-11-21 23:41] Deelite310 opened #25 "Deviantart.com (shouldn't be in the list)"
Its an artist/portfolio site, don't know why its on the list

[2016-11-22 06:15] selfagency commented on #25
it isn't

[2016-11-22 06:16] selfagency commented on #24
an update was pushed that should have resolved all scrolling issues. make sure to update and reload the extensions in your browser.

[2016-11-22 06:17] selfagency commented on #23
for the time being, you can use [tampermonkey](https://tampermonkey.net/?browser=safari) and the greasemonkey script in the repo. it needs to be updated, however, to match the new functionality.

[2016-11-22 06:18] selfagency commented on #22
it will be gone in the next update

[2016-11-22 06:18] #22 closed

[2016-11-22 06:19] selfagency commented on #20
sorry, but as much as i despise murdoch's agenda, we're not including legitimate newspapers in this list.

[2016-11-22 06:19] #20 closed

[2016-11-22 06:19] selfagency commented on #17
this has been addressed in the latest update.

[2016-11-22 06:19] #17 closed

[2016-11-22 06:20] selfagency commented on #9
@Bastlynn fyi, there have been some significant updates, some of which are dependent on the chrome api. if you can port it again, that'd be awesome.

[2016-11-22 12:24] thisiskatkat commented on #24
I see, no more
[code]
:)

[2016-11-22 12:24] #24 closed

[2016-11-22 16:23] auswegian commented on #20
A shame, it would appear that the mainstream media is the most important
ones to call out for misinformation, propaganda and outright lies, being
that so many form their opinions upon what they read and hear via these
channels

On 22 Nov 2016 7:19 AM, "Daniel Sieradski" <notifications@github.com> wrote:

[2016-11-22 18:12] spryde opened #27 "Facebook solution flags whole post versus individual links"
Changes for facebook are awesome but the whole post is flagged as BS if one of the comments contains a flagged site. Attached image has a naturalnews.com link in a comment but the top post is flagged. Maybe misleading to some.

![image](https://cloud.githubusercontent.com/assets/3370981/20536013/5426a398-b0b5-11e6-809a-12620f22aa42.png)

[2016-11-22 19:30] Deelite310 commented on #27
there is no comments, but its "flagging" an anime blog site as "State news Source" - via facebook

![2016-11-22_113130](https://cloud.githubusercontent.com/assets/2086137/20538662/030daeb0-b0a7-11e6-89b3-dec4efacf96e.png)

[2016-11-22 19:33] Deelite310 commented on #27
another one. A personal artist website, is being flagged as a State News source. Comments to the post contain no links - via facebook

![2016-11-22_113530](https://cloud.githubusercontent.com/assets/2086137/20538780/7ccaec86-b0a7-11e6-9d2d-91b36a8c0164.png)

[2016-11-22 19:38] Deelite310 commented on #25
On facebook, it is

![2016-11-22_114025](https://cloud.githubusercontent.com/assets/2086137/20538940/2b5a4ad0-b0a8-11e6-9cb2-4ec68dd35c1d.png)

[2016-11-22 19:39] Deelite310 commented on #27
my issue from yesterday was closed, yet caught in the notices

![2016-11-22_114025](https://cloud.githubusercontent.com/assets/2086137/20538985/5128fcb6-b0a8-11e6-8270-2d9b6ea55f13.png)

[2016-11-22 19:40] selfagency commented on #25
i see the problem — it's misreading RT.com in deviantaRT.com. i'll work on a fix.

[2016-11-22 19:43] selfagency commented on #27
thanks-- i see what's wrong and will work on a fix.

[2016-11-22 19:48] spryde commented on #27
Yeah, I was about to suggest on inject.js to change

`theWrapper = $(this).closest('div.userContentWrapper'); `

to

`theWrapper = $(this).closest('div.UFIComment');`

which results in

![image](https://cloud.githubusercontent.com/assets/3370981/20539335/ac8fd31c-b0c2-11e6-9b79-92d0087b80e4.png)

That fixes my reported issue.

[2016-11-22 20:32] selfagency commented on #27
a fix will be issued shortly

[2016-11-22 20:33] #27 closed

[2016-11-23 02:35] rzombeck opened #28 "Pocket app (read later) false positive"
Nearly all the links that are saved in the Pocket app show as questionable website. The used is not a direct link, but a link that redirects to the saved article.

![2016-11-22_21-32-31](https://cloud.githubusercontent.com/assets/5642489/20549562/872d74e2-b0fb-11e6-9f58-55b396935068.jpg)
![2016-11-22_21-31-53](https://cloud.githubusercontent.com/assets/5642489/20549563/872d9328-b0fb-11e6-9a62-00d2

[2016-11-23 05:28] selfagency commented on #28
thanks for pointing this out, i will work on it.

[2016-11-23 20:45] selfagency commented on #28
i'm unable to replicate this issue using my pocket account. could you right click on the link, click inspect element, hit escape when the inspector palette opens, and send me a screenshot?

[2016-11-23 21:46] rzombeck commented on #28
Oddly enough, I am also unable to recreate the issue. In fact, I'm no longer seeing the warnings as I scroll facebook or other sites for that matter. I'm trying to determine if it's a local problem. Is the plugin dependent on anything in particular? Not sure you still want to screenshot, but it's attached.
![2016-11-23_16-46-16](https://cloud.githubusercontent.com/assets/5642489/20579723/6e19358a-

[2016-11-23 22:19] selfagency commented on #28
i mean, it's possible it's conflicting with another plugin, but this extension only has one external dependency, which is jquery. can you check what it says in the console? i see 20 errors. (the red dot at the top right of your screenshot). can you click on the console tab and show me what it says there?

[2016-11-23 22:31] rzombeck commented on #28
![2016-11-23_17-31-07](https://cloud.githubusercontent.com/assets/5642489/20580816/b554c9fe-b1a2-11e6-9ff9-47b4eead6a41.jpg)

[2016-11-23 23:12] selfagency commented on #28
looks like the url expander api i was using went offline and is breaking the plugin. i just issued a fix.

[2016-11-23 23:30] optomos opened #31 "Memory Leak?"
I've been noticing overall performance with Chrome in Facebook deteriorating over time and when I checked in task manager, the Chrome instance for B.S. Detector was consuming a lot of RAM  and continued to rise so I had to kill it, but before I did, I created a mini dump. The dump file is a little over 2GB so I can't attach it, but available if needed.

[2016-11-24 04:21] rzombeck commented on #28
Cool. The issue has returned in Pocket unfortunately. Here's the screenshot of the error.

![2016-11-23_23-17-01](https://cloud.githubusercontent.com/assets/5642489/20586556/0c1ae450-b1d3-11e6-851e-05aa3d1f9a19.jpg)

Personally, it's not a problem for me.

Also. Try going to infowars facebook page. The warning shows up on links in which the URL is pasted into the post, but not the other.

![2016-1

[2016-11-24 07:43] selfagency commented on #31
the last release had a big bug. i just pushed an update. let me know if that resolves it for you.

[2016-11-24 07:44] selfagency commented on #28
just pushed an update. v0.1.6. update your extensions and let me know if it's resolved for you.

[2016-11-24 17:12] selfagency opened #33 "Link expander broken"
Need to figure out a way to queue requests so it doesn't take down the server

[2016-11-24 17:14] selfagency commented on #21
done

[2016-11-24 17:14] #21 closed

[2016-11-24 17:19] selfagency commented on #19
i've added the first two as extremely biased sources. the second two seem pretty legitimate. unless you can point to numerous examples of the purposeful misleading of readers, they don't meet the criteria. you can add to the list by editing the json file in the chrome/data folder and submitting a pull request. eventually, i will add a feature for people to submit sites through the plugin itself.

[2016-11-24 17:19] #19 closed

[2016-11-26 01:19] electr0lyte opened #35 "Add thegoldwater.com - Fake news site"
Add thegoldwater.com as a fake news website. Verified by Vice.com as paying workers on Amazon's Mechanical Turk website to write fake articles, including conspiracy theory stories. Source: http://motherboard.vice.com/read/apparent-amazon-mechanical-turk-ads-news-writers

[2016-11-26 22:26] tylonius opened #36 "How To Add New Sites?"
What is the best way to get new sites added to the registry?

[2016-11-26 23:41] joemeadors opened #37 "USS Liberty Veterans Association websites should not be included"
http://www.usslibertyveterans.org and http://usslibertyveteransblog.org/ are official voices of the USS Liberty Veterans Association which is comprised of the officers and crew who served aboard the USS Liberty and should not be included in your database.

Thanks in advance.

Joe Meadors
USS Liberty Survivor
Director of Operations, USS Liberty Veterans Association
Email: joe@ussliberty.com

[2016-11-27 17:11] saimoomsafayet commented on #33
is the link expander still broken? as i run the latest version of the extension, expandLinks() method seems never get called.

[2016-11-27 22:04] j9ac9k opened #39 "Plugin Slows Down Browser Response Significantly (windows 10)"
Hello,

Thanks for making this plugin.  I am running Windows 10, Chrome 54.0.2840.99 m (64-bit), and 0.2.3 version of the extension.  With the extension loaded, I get massive slowdowns when using my instance of [RStudio Server](https://www.rstudio.com/products/rstudio/).  I suspected slow-downs on other websites as well, but given the amount of text entry I make in the RStudio web instance, the sl

[2016-11-28 03:51] lewisje commented on #36
fork, edit the .json file, issue a pull request

[2016-11-28 04:50] lewisje opened #41 "The Real X-to-the-Z Detector (extraneous material inside published extension)"
The published extension package (version 0.2.3) has inside of it, a zip of the previous version (0,2,2); you probably didn't intend on that.

[2016-11-28 06:55] lewisje commented on #39
I'm guessing it's because the `MutationObserver` looks through all links every time it's triggered, which is every time the body is changed.

I made some improvements in a pull request, but I haven't looked into how the `MutationObserver` works in particular.

One idea I had was to have it work only on the added or changed nodes, instead of the entire body; another idea is to throttle it, so it ca

[2016-11-28 09:14] Bastlynn commented on #9
@selfagency  Updates are in on the latest pull request, along with the FireFox extension. :) Enjoy!

[2016-11-28 09:17] Bastlynn opened #44 "Merge to WebExtensions"
@selfagency Given how alike the code between the two is, and that the WebExtensions the Firefox version uses are almost entirely compatible with chrome - we should take a look at merging the two versions into a single bit of code so we aren't supporting more code than we need to be.

Compatibility tables are here for WebExtension support cross browsers:
https://developer.mozilla.org/en-US/Add-ons/

[2016-11-28 09:19] Bastlynn commented on #23
@owlboy The pull request is in for the greasemonkey update so you can pull the code from that, or once @selfagency merges - from the master branch.

[2016-11-28 11:43] NoisyAstronomer opened #45 "Classification Pending"
Is there a way to submit info for sites labelled as "classification pending"? Got an alert about an educational site I use that does not deal with news.

[2016-11-28 16:03] j9ac9k commented on #39
@lewisje thanks for the detailed reply.  Is there anything I can test on my end?

[2016-11-28 16:38] easycheese opened #47 "Causes severe lag on Teamwork.com"
Not sure why but this extension is definitely the culprit.

Tested using fresh incognito mode:
1)  Try to create a new subtask, works fine, no lag
2)  Enabled this extension
3)  Try to create a new subtask, significant lag occurs on clicking buttons and even keyboard input.

Note that this teamwork site has multiple lists with hundreds of tasks.

[2016-11-28 16:46] Bastlynn commented on #45
Right here is how at the moment. I know there's some plans re: making a way to submit links in the extension. White site is it? And if you can save us some time re: confirming the site is valid by giving us some example links or other reasoning for the status change that would be appreciated as well.

[2016-11-28 16:57] Bastlynn commented on #37
Thank you for making us aware of this.

I think I can tell why it got added to the list. Given the attack involved and the countries involved in it, I suspect your site has been linked to by a lot of anti-Semite and conspiracy theory sites that may be using your experiences during service to make political hay. Which puts us in a tough spot here since addressing that political abuse of reality is

[2016-11-28 17:11] lewisje commented on #39
Download the ZIP file for [my fork](https://github.com/lewisje/bs-detector), copy the "chrome" subdirectory to some known-safe place (maybe your user profile directory), rename it "bs-detector", make the change to "inject.js" that I mentioned above (in my fork, [the relevant lines to replace are from 222 to 247](https://github.com/lewisje/bs-detector/blob/master/chrome/js/inject.js#L222)), and ins

[2016-11-28 17:18] j9ac9k commented on #39
Thanks for the instructions!  I'll give it a go when I get home tonight and report back.

[2016-11-28 17:34] shortformblog opened #48 "Gmail lag"
Hey there,

Your extension is a great idea, and as a journalist, I really like the idea behind it. But the app appears to be causing some significant slowdown in rich text editors, such as Gmail. I spent more than an hour this morning trying to figure out what was causing Gmail to be basically impossible to type in, and when I disabled this plugin, everything started working normally again. This i

[2016-11-28 17:56] lewisje commented on #47
I believe I have found, and fixed, the issue; if my current pull request is acted on, I will put the fix into a new pull request: https://github.com/selfagency/bs-detector/issues/39#issuecomment-263196591

[2016-11-28 17:57] lewisje commented on #48
I believe I have found, and fixed, the issue, and I will put the fix into a new pull request once my pending PR is acted on: https://github.com/selfagency/bs-detector/issues/39#issuecomment-263196591

[2016-11-28 22:10] selfagency commented on #48
@lewisje @Bastlynn I just pushed an experimental work-in-progress to a branch called experimental (https://github.com/selfagency/bs-detector/tree/experimental) where I completely re-approach the way I'm targeting links and handling the MutationObserver. If you could, please take a look to see if you think it's an improvement over the previous method, or not, and if so, what I'm doing wrong that it

[2016-11-28 22:36] selfagency commented on #33
@lewisje did you fix the link expander as well?

[2016-11-28 23:06] Bastlynn commented on #33
I think I ended up fixing the link expander in my firefox extension - I didn't realize it was broken in the other so did what I did to get it working in mine. There wasn't a call to expandLinks() that was active, it was commented out in the copy I was looking at last night. We could easily port the fix from the FF extension to the chrome one and see how that works for us?

[2016-11-28 23:19] lewisje commented on #33
I tried fixing it, but I kept getting the message that the link couldn't be expanded.

[2016-11-28 23:24] Bastlynn commented on #33
There is a rate limit on how often you can expand new links. So maybe that's what you were hitting? https://unshorten.me/api

[2016-11-28 23:41] selfagency commented on #33
Yeah, I can't seem to find any API for link expansion that hasn't gone offline or isn't severely rate limited. That's why I built my own (https://github.com/selfagency/bs-detector/blob/master/linkexpander/x.php) but it took down my server within 10 minutes of rolling it out to plugin users. Open to any other suggestions, especially about client-side solutions for that don't require PHP or any kind

[2016-11-28 23:43] Bastlynn commented on #33
I'll do some thinking about that tonight - I would hope that there's a way to do it that isn't just giving the site a free click through.

[2016-11-28 23:47] lewisje commented on #33
If it's configured like unshorten.me, it's just one free click-through per shortened link.

[2016-11-28 23:52] lewisje commented on #48
I don't have much of an opinion here; I'm thinking that the overhead of jQuery vs. superdom vs. built-in APIs isn't a big difference, but I'd need to profile the extension to be sure about that.

[2016-11-29 04:59] selfagency commented on #39
I just pushed the latest version to the Chrome Store. Should be live within the hour.

[2016-11-29 14:46] NeonRonin commented on #39
Unfortunately, the input lag is just as bad with version 0.2.4. Disabling BS detector continues to resolve the issue.

[2016-11-29 14:54] selfagency commented on #39
Ok, I think I'm going to have to restrict the plugin to Facebook and Twitter and slowly expand it to other social media sites and online services so where can target their content containers specifically instead of the whole document body. I'll work on that and push an update.

[2016-11-29 16:19] selfagency opened #50 "Report performance issues here!"
We are aware of performance issues related to the BS Detector, but you can let us know about yours specifically here. We are working on a series of fixes.

[2016-11-29 16:20] #47 closed

[2016-11-29 16:20] selfagency commented on #47
duplicate of issue #50

[2016-11-29 16:20] selfagency commented on #48
duplicate of issue #50

[2016-11-29 16:20] #48 closed

[2016-11-29 16:20] selfagency commented on #39
duplicate of issue #50

[2016-11-29 16:20] #39 closed

[2016-11-29 16:21] selfagency commented on #28
Appears to be resolved.

[2016-11-29 16:21] #28 closed

[2016-11-29 16:22] selfagency commented on #31
Duplicate of issue #50.

[2016-11-29 16:22] #31 closed

[2016-11-29 16:22] Therlack opened #51 "Tiny URLs"
Can you get it to work with Tiny URLs?

[2016-11-29 16:23] selfagency commented on #51
Duplicate of issue #33.

[2016-11-29 16:23] #51 closed

[2016-11-29 16:25] selfagency commented on #45
@NoisyAstronomer, what was the link? Sometimes some sites get improperly flagged if another URL in the list matches part of a domain.

[2016-11-29 16:26] selfagency commented on #44
I support doing this, if you want to take a stab at it. But we should wait until we resolve the performance and shortlink issues first.

[2016-11-29 16:26] selfagency commented on #41
Fixed.

[2016-11-29 16:26] #41 closed

[2016-11-29 16:31] selfagency commented on #36
I think the next step is to add a functioning browser button with a popup which provides info about the current URL and allows users to submit the current URL for review. One person emailed me to recommend https://mediabiasfactcheck.com/ as a source of info for flagged URLs and I'm rather open to that idea, but we'd need to use a scraper to turn the site into an API.

[2016-11-29 16:34] selfagency commented on #35
will appear in the next release

[2016-11-29 16:34] #35 closed

[2016-11-29 16:38] #9 closed

[2016-11-29 16:45] selfagency commented on #9
@bastlynn Trying to upload to the Firefox Add-On Directory and getting an error:
![Screenshot 2016-11-29 11.44.20](http://static.gitscout.com/b0c9d1f71f1523cf4661aa8ce455a2bd9aee2d42d3a64076c180f9e66933ddfd.png)

Could you work on that?

Thanks!

[2016-11-29 20:28] NoisyAstronomer commented on #45
Thanks! The site is hyperphysics: http://hyperphysics.phy-astr.gsu.edu/

It's not a news site at all, but a set of notes for introductory physics.
It's not the prettiest site, but here is an example of a page I was using
on quantum numbers for my class when the app's warning came up:
http://hyperphysics.phy-astr.gsu.edu/hbase/atpro.html#c1

I'm a physics professor but not affiliated with that univ

[2016-11-29 20:46] selfagency commented on #45
@noisyastronomer did the warning bar come up across the page, or when you hovered on a link?

[2016-11-29 21:05] selfagency opened #53 "Report links to add/remove here!"
Please use this ticket to report any new links to add or to dispute any links that exist in the B.S. Detector dataset.

[2016-11-29 21:12] selfagency commented on #36
added #53 for folks to recommend/dispute links in one place until we create an actual queue

[2016-11-30 04:38] neomodern commented on #36
This is an _extremely_ centralised model which runs a **very high risk of bias**.

I haven't gone through the entire list yet to see what links I'd disagree with but undoubtedly every user will find a few they each disagree with for various reasons.

The best compromise would be to have the current JSON be the default, **but also have an Advanced setting to allow users to select a different local

[2016-11-30 04:41] selfagency commented on #36
@neomodern I recommend opening this as a separate ticket so we can tease out this idea a bit more. I have some ideas of my own for how to address this issue that I'd be happy to openly discuss.

[2016-11-30 04:44] selfagency commented on #36
Oh duh I just realized this ticket is a fine place to do it. I thought I was looking at #53.

[2016-11-30 04:44] neomodern opened #54 "Essential Feature: Ability to Choose Custom Fake News List"
This is an _extremely_ centralised model which runs a **very high risk of bias**.

I haven't gone through the entire list yet to see what links I'd disagree with but undoubtedly every user will find a few they each disagree with for various reasons.

The best compromise would be to have the current JSON be the default, **but also have an Advanced setting to allow users to select a different local

[2016-11-30 04:49] selfagency commented on #36
So what I was thinking is that when a user visits a flagged site, the popup I mentioned several comments back would, in addition to providing some information about why the site is included, allow users to check `Ignore warnings for this site` and submit a thumbs up/thumbs down vote on whether they, the user, agree with that site's inclusion. In addition, in the not-yet-existent extension settings

[2016-11-30 06:03] neomodern opened #55 "Add highlighting of words or names of fake news influencers"
The current list is suited for highlighting links on Facebook + on the site itself, an even more global fake news strategy could be highlighting when the names of fake news influencers are written online.

This could be achieved by simply merging in the existing [Nazi Detector](https://github.com/k0nsl/nazi-detector) extension which highlights names of Nazi sympathisers.

[2016-11-30 06:12] neomodern commented on #36
That's useful for maintaining the central JSON file and helpfully allows warnings to be ignored.

This is unrelated to the issue however which is **how to add new sites**. Right now there's the bottleneck of being "approved" and as we're all subject to bias this is completely at odds with the purpose of the extension.

That idea is useful if your preferences can be exported. I use multiple browser

[2016-11-30 06:17] neomodern commented on #55
Oh just realised that's your extension lol.

[2016-11-30 09:11] BigMcLargeHuge opened #56 "idSite() not being triggered in 0.2.4 when loading unpacked extension"
I'm running into an interesting issue when loading the unpacked extension in developer mode.  I'm running Ubuntu16.04; chrome Version 54.0.2840.100 (64-bit).  The big picture is that `idSite()`is not being called.  The reason seems to be that linkWarning() is running before idSite() runs on the initial load.  See below (note comments):

[code]

This seems to be resolved by moving the firstload con

[2016-11-30 09:35] BigMcLargeHuge commented on #56
I've tentatively resolved this issue in my latest pull request #57 Still open to comments on the apparent bug.

[2016-11-30 13:20] selfagency commented on #56
this is the firefox version, correct?

[2016-11-30 14:37] BigMcLargeHuge commented on #56
Nope, chrome

On Nov 30, 2016 6:20 AM, "Daniel Sieradski" <notifications@github.com>
wrote:

[2016-11-30 15:42] selfagency commented on #56
dev branch?

[2016-11-30 22:28] BigMcLargeHuge commented on #56
I found the problem even when I downloaded [this zip](https://github.com/selfagency/bs-detector/releases/tag/v0.2.4) and loaded the chrome plugin as an unpacked extension.

[2016-11-30 22:29] selfagency commented on #56
Ah. Well it's fixed now but I haven't pushed a new release because something else is broken now.

[2016-11-30 23:05] neomodern commented on #55
This could be extended further: similar to Imagus, there could be a pop-up when you highlight these words which shows citations for the reason why it was highlighted.

[2016-12-01 01:16] BigMcLargeHuge commented on #56
Actually, I'm finding that it hasn't been fixed.  I just loaded downloaded the head and am finding the same problem.

[2016-12-01 01:17] selfagency commented on #56
dev or master?

[2016-12-01 01:17] BigMcLargeHuge commented on #56
Master branch

[2016-12-01 01:18] selfagency commented on #56
check out dev, lots of changes

[2016-12-02 01:52] Bastlynn commented on #54
Honestly, part of the problem is that the target audience's skill at discerning real vs fake is flawed. If that weren't the case, then we wouldn't need this extension in the first place. I'm not sure the level of customization you're looking for would actually help the perception concern here. In a world where even Snopes becomes accused of bias, I think what you're talking about is inevitable. It

[2016-12-02 14:32] mtaylorcg opened #60 "Facebook is now blocking links to the bs-detector"
Facebook now blocks any links or posts referencing the bs-detector.   They are reporting it as a malicious site and for "security purposes"  are blocking it.
![message1](https://cloud.githubusercontent.com/assets/131280/20837455/22b5f5f6-b872-11e6-9261-cf2028b844b2.JPG)
![message2](https://cloud.githubusercontent.com/assets/131280/20837460/24c2211c-b872-11e6-8dc7-e764e0a2298b.JPG)

[2016-12-02 14:56] selfagency commented on #60
WHAAAAAT

[2016-12-02 16:01] andylockran commented on #60
you're making the Zuck look bad..

[2016-12-02 16:33] selfagency commented on #60
apparently so. streisand effect is gonna make 'em look WAAAAAY worse.

[2016-12-02 16:33] selfagency commented on #60
http://motherboard.vice.com/read/an-interview-with-the-guy-whose-fake-news-plugin-was-just-blocked-by-facebook

https://www.inverse.com/article/24621-facebook-bs-detector

[2016-12-02 17:04] selfagency commented on #54
see my recommendation at the end of the [product roadmap](https://github.com/selfagency/bs-detector/wiki/Product-Roadmap)

[2016-12-02 17:56] neomodern commented on #54
The type of person that would go through the Advanced setting to manually make their own choice is someone who has justifiable reason for making that choice, independent of the single person/committee/crowdsourced platform that has made the recommendation.

Better to allow them to decide for themselves that particular site is real rather than them deleting the extension and all of our recommendati

[2016-12-02 21:28] BillyBender commented on #53
Good move. Technology can help in this issue.
I guessed that your list began with the WashPost article, so I checked to see if truthdig.com and counterpunch.org were on your list.

They are, but they don't belong on the list. Both are Seriously Lefty and present themselves as Opinion Journals, much in the tradition of leftist newsletter watchdog publishers like I.F. Stone, The Nation, etc.
I haven

[2016-12-02 21:46] ultramancool commented on #53
{"url": "wikileaks.com", "type": "rumors"},
{"url": "wikileaks.org", "type": "rumors"},

Wikileaks does not publish rumors, they publish leaked information. This should be removed.

[2016-12-02 21:49] ultramancool commented on #37
"Political abuse of reality" shouldn't be what this is about. Outright fake, garbage information, you know, _bullshit_ should probably be what a project called BS Detector is about.

[2016-12-02 21:51] selfagency commented on #53
wikileaks publishes unconfirmed rumors and innuendo like dnc staffer seth rich was murdered by hillary clinton https://www.washingtonpost.com/local/public-safety/wikileaks-offers-reward-in-killing-of-dnc-staffer-in-washington/2016/08/09/f84fcbf4-5e5b-11e6-8e45-477372e89d78_story.html

[2016-12-02 21:53] ultramancool commented on #53
@selfagency That WaPo article you linked doesn't seem to cite any official source at Wikileaks, let alone an actual link to wikileaks.org.

[2016-12-02 21:55] selfagency commented on #53
https://twitter.com/wikileaks/status/763041804652539904?lang=en

[2016-12-02 21:56] selfagency commented on #53
https://twitter.com/wikileaks/status/763565863861616640?lang=en

[2016-12-02 21:58] ultramancool commented on #53
@selfagency That link just says "information leading to a conviction". Nothing about hillary clinton being responsible.

[2016-12-02 21:59] selfagency commented on #53
who are you kidding? they posted this while rumors were swirling that rich was behind the dnc leaks and was whacked for it.

[2016-12-02 22:03] ultramancool commented on #53
So basically it's exactly like I said - WikiLeaks themselves does nothing to spread rumor, only other people implicate them in it. You yourself are doing it right now. You evil rumor spreader you.

[2016-12-02 22:05] selfagency commented on #53
sooooo julian assange can go on tv and imply that rich was a source while rumors are swirling that he was murdered but he's not implicated? this is your idea of critical thinking?

[2016-12-02 22:22] ultramancool commented on #53
You got a link for that? I'm interested to see if he actually said that or if you've extrapolated.

[2016-12-02 22:22] selfagency commented on #53
it's the newsweek link i posted above

[2016-12-03 00:34] blobblobbed commented on #53
Sorry these aren't alphabetized. Made this list on my phone. should all be fresh entries ; )
Add more later if i can. File all of these under "conspiracy" except for the first entry, mediaite.com which i've marked as rumor mill because they'll post pretty much anything.
TO ADD:
mediaite.com RUMOR MILL
conspiracyplanet.com
henrymakow.com/
oathkeepers.org
farmwars.info
globalresearch.org/ (arm of gl

[2016-12-03 01:01] tomlutzenberger opened #62 "Translations"
I'd like to contribute a german translation. But messages are hardcoded.
Do you plan to add multilang support?

Would be happy if I could help 😃

[2016-12-03 01:04] tomlutzenberger opened #63 "German sites"
There are a lot of german fake news and clickbait sites.
Are there any special rules to add non-english websites?

[2016-12-03 01:23] blobblobbed commented on #53
Whoops! Hey I just realized scientologynews.org is in that list I posted! For the sake of accuracy, they def wouldn't fall under conspiracy. Extreme Bias, I suppose would be more sufficient. State Sponsored, perhaps? I'd hate to just lump them in here automatically due their reputation, but that site is quite propagandaee

[2016-12-03 01:51] BillyBender commented on #53
Propornot, whose list seems to be at the core of your list, has revised [url=http://www.propornot.com/p/the-list.html]their list. It is available here. [/url]
At the bottom of the page, they list the changes

List v0.0.6: Initial Release
List v0.0.7:
Removed following constructive conversations with outlet operators: aanirfan.blogspot.co.uk, abovetopsecret.com, counterpunch.org, nutritionfacts.org

[2016-12-03 02:00] BillyBender commented on #53
The New Yorker, one of the most reliable sources of newsy information, [has its own analysis of the WaPost/ProporNot controversy here.  ](http://www.newyorker.com/news/news-desk/the-propaganda-about-russian-propaganda)

[2016-12-03 05:23] justic4all commented on #53
Sites which should not be on your list:
1.	Counterpunch
2.	Truthdig
3.	Truthout
4.	Consortium News
5.	Films For Action
6.	Wikileaks
Truthdig and Consortium News in particular are run by well-respected, award-winning investigative journalists.  All of the above except Wikileaks fall into the category of op eds, in the same way as publications like HuffPost Politics, The Nation, The Guardian, etc.
I

[2016-12-03 08:12] selfagency commented on #53
A few points:

1.   This list is *not* based on the PropOrNot list. This plugin launched a full week before the Washington Post article even came out.
2.   As I have repeatedly stated in the press, on our repo, and on our homepage, the dataset was somewhat indiscrimintely compiled and we are slowly making our way through it. We are also looking to partner with media watchdog groups to provide rese

[2016-12-03 08:20] selfagency commented on #53
@billybender PropOrNot's list is neither at the core nor even included in our list. I will review your other recommendations but I can tell you offhand that Alternet, Mediaite, and CrooksAndLiars do not belong.

[2016-12-03 08:34] selfagency commented on #60
This has been resolved thanks to the inqiuiries of the BBC, CBC, Buzzfeed, WSJ, the Guardian and others!

[2016-12-03 08:34] #60 closed

[2016-12-03 08:37] joeblackwaslike commented on #53
I think much of this list belongs, however I find incredibly odd that sites such as:
guccifer2.wordpress.com, wikileaks.com, wikileaks.org are included.  Wikileaks is not a source of bias, they publish what they can confirm.  Their twitter can turn into a dumpster fire at times(no arguable), but that's a much different url so why not include that one instead?  Including wikileaks is delegitimizing

[2016-12-03 08:50] selfagency commented on #53
@joeblackwaslike I'm an independent, muckraking journalist, and I obviously agree with you about the importance of the press as a check-and-balance on powerful institutions and the importance of leaks. However, Wikileaks is not the only source through which one can leak info. It is merely the most irresponsible one, posting everything online without verifying either its accuracy or redactions to p

[2016-12-03 09:09] #56 closed

[2016-12-03 09:37] BillyBender commented on #53
Oops, after posting. I'd noticed that you hadn't absorbed PON's list.
https://docs.google.com/spreadsheets/d/1an3ACDMKaJofo8PlJUKGMZ_jfQibNgVouMPTcv5bl_0/edit?usp=sharing

Seems like — at some point —  you'll need to link back to the justification for your rankings. Take a look at how rationalwiki does it ...
http://rationalwiki.org/wiki/Fake_news
... a judgement, supported by examples.  Note that

[2016-12-03 09:47] NewsThump commented on #53
Hi, you have correctly flagged our site (NewsThump.com) as fake news, but not yet included the reason. Is there any chance you could update the reason as Satire? I love the idea of this plug-in, and I have no problem at all with our site be flagged (as we genuinely don't want people believing what we write, we want them laughing *with* us, not angrily sharing something they've read on our pages).

[2016-12-03 09:52] BigMcLargeHuge commented on #53
Hi @NewsThump thanks for alerting us to this.  We've been scrambling to get all these additions in place.  I'll add that right now.  It will take until the next release for the changes to carry over.  Cheers brother (or sister)!

[2016-12-03 09:54] NewsThump commented on #53
@BigMcLargeHuge - thank you.  I can also help you identify a few other UK based satire sites if you'd like, but obviously happy to let you follow your own process. Just let me know...

[2016-12-03 10:00] BigMcLargeHuge commented on #53
@NewsThump Please do!  I'll keep an eye on this ticket if you want to let me know right now.  Your site modification has been submitted here #68 and should be integrated on next release (in a matter of days most likely)

[2016-12-03 10:16] rdvn commented on #53
Please add folloving slovak/czech conspiracy sites. List is from konspiratori.sk, site that is tracking conspiracy theories, hoaxes, quackery in czech/slovak media space. List could be updated regularly from https://www.konspiratori.sk/assets/downloads/zoznam.txt. Tnx.

vigilantcitizen.com
protiprudu.org
czechfreepress.cz
conspi.cz
nwoo.org
badatel.net
naturalnews.com
afinabul.blog.cz
prvopodstata

[2016-12-03 10:32] BigMcLargeHuge commented on #53
@NewsThump Thanks for the list.  I actually classified the onion as part of a larger pull request a while back that we unfortunately never really got around to merging.  I'll submit a mini one for it.

[2016-12-03 11:20] johnsonc opened #71 "Design Suggestions"
I think if we have two crowdsourced lists:
One for sites.
Two for individual articles.

[2016-12-03 16:46] tomlutzenberger commented on #71
Links to articles can change (or be changed) very quickley. The authors would try everything to prevent them to show up flagged.
This list would never be up-to-date.

[2016-12-03 21:48] IanDarwin commented on #44
At least the data/data.json file should be common! This copy-and-paste is already out of sync on master.

[2016-12-03 22:20] IanDarwin opened #74 "Consider adding 'clickbait' category"
### Extension version
Any

### Browser and browser version
[ ] Chrome [ ] Firefox [ ] Other, Version:
Any

### OS and OS version
[ ] Mac [ ] Windows [ ] Linux, Version:
Any

### Expected behavior

### Actual behavior

There are many sites like "spin-news.com" which pretend to offer news on current topics but when you click on them you wind up in some advertising garbage, hence "clickbait" should b

[2016-12-03 22:34] selfagency commented on #74
Agreed, it's a valuable distinction.

[2016-12-04 01:32] HarleyStaggers commented on #53
Religious satire sites in addition to landoverbaptist.org:

babylonbee.com
christwire.org
eyeofthetiber.com
larknews.com

[2016-12-04 01:45] #74 closed

[2016-12-04 03:15] pats2114 commented on #53
Hi there. I suggest adding the following:
allenbwest.com (extreme political bias)
youngcons.com (extreme political bias)
usuncut.com (extreme political bias)

I'll keep on the lookout. These are just a few of the ones I've seen trafficking in nonsense.

[2016-12-04 03:35] selfagency commented on #53
@rdvn your data has been added to our new [european domain list](https://github.com/selfagency/bs-detector/blob/dev/_shared/data/eu.json). we will be integrating support for european domains and languages soon.

[2016-12-04 04:09] cmattoon opened #76 "Facebook Pages Support"
Any thoughts on tagging Facebook pages specifically, to address memes and other non-external links?

I realize this is an entirely separate list of URLs to maintain.

[2016-12-04 04:11] cmattoon commented on #53
63red.com
aboveaverage.com
conservative101.com
gatewaypundit.com
patriotjournal.com
proudcons.com
redstate.com

Do you want PR's for these, or just keep 'em here?

[2016-12-04 04:29] n4ru commented on #53
theyoungturks.com (Extreme Political Bias)

[2016-12-04 10:37] BigMcLargeHuge opened #77 "Unable to load unpacked dev branch"
Hi All,

After the recent merges to the dev branch, I am confronted with the following error when I try to load the unpacked extension:

Could not load javascript 'js/jquery-3.1.1.slim.min.js' for content script.

Since the jquery file was recently moved to a shared directory in #67, is there a trick to taking advantage of this new configuration?

[2016-12-04 12:43] BilalReffas commented on #63
True stuff do you guys have some detection for german websites ? :)

[2016-12-04 16:36] selfagency commented on #77
you need to run the gulp task after you pull the branch and then after you make any changes to content in the _shared folder. tho i suppose we could add a watch task to do it automatically when changes are detected.

[2016-12-04 16:49] selfagency commented on #63
pull the `dev` branch. in the `_shared/data` folder you'll find an `eu.json` file. just stick 'em in there following the existing formatting. we'll be rolling out multilingual support in the near future. if anyone wants to help implement it, i have a vision for how to do it and would love the help.

[2016-12-04 16:51] BilalReffas commented on #63
I would like to help but I don't know where I can find some german / europa fake sites .. :/

[2016-12-04 16:58] dabockster commented on #53
@n4ru If CNN gets listed in any way, we also should list both Fox News (extreme bias) and MSNBC (potential bias).

[2016-12-04 17:08] selfagency commented on #53
I really intended the extreme bias tag for sites that purposefully misrepresent facts for propaganda purposes, not sites that just happen to have a strong political leaning. You can be biased and be telling the truth. The question as to whether a site qualifies is if they're not telling the truth or they're only telling part of the story in order to advance an agenda. So sites like TYT, on the lef

[2016-12-04 17:14] dabockster opened #79 "Establish a website database containing more detailed bias explanations"
Hey all! First off, fantastic project! I haven't been this excited to contribute to a GitHub project in a while!

As the short term growing pains have shown (based on comments from extension lists/Chrome Web Store), the warnings are much appreciated. That being said, there needs to be a website that allows users (and anyone else, for that matter) to access more detailed write ups on the reasons wh

[2016-12-04 17:15] selfagency commented on #53
I also want to strongly encourage folks to read Brooke Gladstone's ["The Influencing Machine"](https://www.amazon.com/Influencing-Machine-Brooke-Gladstone-Media/dp/0393342468) to get a sense of what we mean when we talk about media bias.

[2016-12-04 17:28] tomlutzenberger commented on #63
Alright, thanks. I'm in. Let me know when I can help.

[2016-12-04 17:34] selfagency commented on #63
so here's what needs to happen as far as i understand it:
-   we need to add an [options page](https://developer.chrome.com/extensions/options) for the extension
-   the options page needs to have dropdown to select your language
-   the selected language switches which dictionary file is loaded from `_shared/_locales`
-   the bs-detector.js file needs to be updated to replace all user-facing lang

[2016-12-04 17:45] selfagency commented on #79
hey @dabockster, this is something we really want to do and is what i've been reaching out to media watchdogs about creating. the solution i have in mind is this:

we need to [add a popup](https://developer.chrome.com/extensions/browserAction) to the bs detector icon. the popup has two views depending on whether the page you're currently on is in the database:

1.   if *not* in the database, it sh

[2016-12-04 18:36] WayneLinton commented on #50
Firefox 50.0.2, Windows 7.  Significant CPU use.  Tends to increase over time affecting performance.  Response, typing are eventually rendered intolerable.  Restart of Firefox removes the temporary add-on and all is well again.

I also use Chrome on the same machine, but no adverse performance impact is noted.

![image](https://cloud.githubusercontent.com/assets/15835469/20868314/e9d3289e-ba15-11e

[2016-12-04 19:34] selfagency commented on #50
yes, i believe the firefox release is still running an old version of our link targetting. it needs to be updated. will try to get that taken care of asap.

[2016-12-04 21:31] selfagency commented on #53
In response to the furor over Wikileaks' inclusion here and on Twitter, I've created a new alert type that will appear in a future release.

<img width="587" alt="screenshot 2016-12-04 16 27 33" src="https://cloud.githubusercontent.com/assets/2541728/20869354/e19ef9cc-ba3e-11e6-9848-2ef7238a5284.png">

Hopefully it's a compromise that fairly addresses people's concerns.

cc: @joeblackwaslike @just

[2016-12-04 21:33] tomlutzenberger commented on #63
Hmmm... 🤔

1. One thing makes me feel unwell:
Why is it necessary to serve different data to different languages. There are a lot of people out there (including myself) who read news in more than one language. For example when I use Facebook, half of my timeline is english, the other half german.

IMHO this would not be a good practice. This projects business is to flag BS sites as such. As much a

[2016-12-04 21:46] Justin-Chaschowy opened #83 "This is ridiculous SJW crap"
Just more echo chamber nonsense.

[2016-12-04 21:53] #83 closed

[2016-12-04 21:56] selfagency commented on #83
Please review our [Code of Conduct](https://github.com/selfagency/bs-detector/blob/master/CODE_OF_CONDUCT.md) before contributing.

[2016-12-04 22:34] thinkcontext commented on #79
I've done just what you describe for my browser extension ([thinkContext](https://github.com/thinkcontext/Think-Context)) and would be happy to help out.  I'd suggest using a browserAction but instead of associating a popup with the browserAction insert it into the DOM with a content script.  That way the popup can be opened automatically instead of requiring it to be clicked on.  In my project I

[2016-12-04 22:47] selfagency commented on #79
thanks, @thinkcontext. i checked out your extension and think it's great. i'd absolutely love your help. could we set the options on the option page to auto-display the popup or click the toolbar button to see the popup? that way we have one invasive and one noninvasive option?

[2016-12-04 22:56] thinkcontext commented on #79
Thanks.  I've added BS Detector as a live datasource, looking forward to the review process you are putting together.

The way I did it is for the toolbar button to toggle the display of the popup.  When the user loads a page that's in your database 2 things happe
  - the popup displays if the user option to autodisplay is set
  - the toolbar button is set to the enabled state (colored instead of

[2016-12-05 00:52] TheFourthEstate commented on #53
@selfagency @blobblobbed

I'm a new sign in and caught this feed on Twitter in a WLTaskForce thread. I'm very interested in restoring our 4th Estate of check & balances. I know little of the list or this site and would ask that you provide me a link to the subject list.

I noticed that blobblobbed made mention of NewsBud, and wanted to add my 2 cents.

I have only seen 2 stories from Invesigative

[2016-12-05 01:21] TheFourthEstate commented on #53
Sorry
 Just received the intro email and now understand some of the functions on this site. I do not create computer programs, but am interested in this subject. Is this subject #53 ?
I think I inderstand the Help Wanted button. Need more help understanding the Link Addition & Link Dispute buttons.
It may be that I will not need them since my focus is to add input only for a list of reliable & cre

[2016-12-05 02:18] dabockster commented on #79
Looks like @thinkcontext got to it before I could. Thanks!

The popup idea sounds great. That being said, I still think a central website is a good idea for detailed explanations.

I'll try to work on what I can, but I do not have any experience developing Chrome extensions.

[2016-12-05 04:22] Justin-Chaschowy commented on #12
Lmao

What a pompous ass.

[2016-12-05 05:14] selfagency commented on #12
That makes two violations of our [code of conduct](https://github.com/selfagency/bs-detector/blob/master/CODE_OF_CONDUCT.md). Bye, now!

[2016-12-05 08:51] doggie015 commented on #53
Websites to add:

themercury.com.au
news.com.au
ntnews.com.au
mx.net.au
couriermail.com.au
theaustralian.com.au
dailytelegraph.com.au
heraldsun.com.au

Reasons include, but are not limited to, Extreme Bias, Conspiracy Theory, Junk Science, Hate Group and Clickbait.

[2016-12-05 09:28] tomlutzenberger commented on #62
Related to #63

[2016-12-05 09:30] tomlutzenberger opened #88 "Next release"
Any thoughts on release dates/milestones/roadmap?
Would be nice to have a better planning about features respective less impulsive changes.

[2016-12-05 15:31] selfagency commented on #53
@doggie015 see #78

[2016-12-05 15:58] selfagency commented on #88
[how's this?](https://github.com/selfagency/bs-detector/projects)

[2016-12-05 16:06] selfagency commented on #63
@tomlutzenberger it's a performance issue from my pov. the more sites you have to check against, the slower it processes. so if you can exclude sites you don't visit then you can save the performance hit of processing them.

that's a great idea, what if a user's default browser language is one thing, but they want to use this plugin in a different language?

[2016-12-05 16:06] selfagency commented on #62
use #63

[2016-12-05 16:06] #62 closed

[2016-12-05 16:07] #77 closed

[2016-12-05 16:08] selfagency commented on #76
I'll put this on our 'possible new features' list.

[2016-12-05 16:08] #76 closed

[2016-12-05 16:16] selfagency commented on #71
Sorry, our strategy is decidedly not to address individual articles.

[2016-12-05 16:16] #71 closed

[2016-12-05 16:17] selfagency commented on #55
I'll add this to our 'possible new features' list.

[2016-12-05 16:17] #55 closed

[2016-12-05 16:21] selfagency commented on #37
@joemeadors Your organization's website will be removed as it is not a news source.

[2016-12-05 16:21] #37 closed

[2016-12-05 16:23] selfagency commented on #45
Unable to replicate. Please reopen if issue persists with next release.

[2016-12-05 16:23] #45 closed

[2016-12-05 16:23] selfagency commented on #33
Does anyone have any ideas for how to do this browser-side?

[2016-12-05 16:25] selfagency commented on #23
[Here's the guide](https://developer.apple.com/library/content/documentation/Tools/Conceptual/SafariExtensionGuide/UsingExtensionBuilder/UsingExtensionBuilder.html) for building a Safari extension. I'm adding it to the roadmap.

[2016-12-05 16:32] tomlutzenberger commented on #88
Wow, cool. That'll do 😉

[2016-12-05 16:32] #88 closed

[2016-12-05 16:46] tomlutzenberger commented on #63
Ah yes, the performance thing 🙈
But even if you split the list: Keep in mind that they will grow over time, no matter what. This is just a temporary solution.

**How about this:**
1. When installing the extension, the language get's automatically recognized and pre-set.
1. After install, the options page opens with pre-selected list(s) depending on the previous set language
1. Now the user can cho

[2016-12-05 16:52] selfagency commented on #63
sounds great. now we just need to add a language field to the json file and then use it when preloading the data that gets passed into the state.data variable (which I still think we'd be better off putting in local storage).

[2016-12-05 16:57] selfagency commented on #63
i just added the language field to the json on dev

[2016-12-05 17:00] thinkcontext commented on #33
The problem w/ doing it browser side by visiting links in the background is it would be easy for the user to be tracked.

[2016-12-05 17:00] tomlutzenberger opened #90 "Project chat"
To keep detailed discussion or general communication away from the issues, it would be useful to use a chat platform, maybe [Gitter](https://gitter.im/)

[2016-12-05 17:02] selfagency commented on #90
We have a Gitter mang. http://gitter.com/bs-detector/Lobby

[2016-12-05 17:02] #90 closed

[2016-12-05 17:23] DavidMoritz commented on #53
Salon.com
HuffingtonPost.com
Buzzfeed.com

[2016-12-05 17:37] RosettasKeys commented on #53
I noticed that anonews.co had been added without a classification. I recommend giving it the "Proceed with Caution" label since their reports may be true, may be true but from a different perspective, completely false, conspiracy theory, or in otherwise not reputable. The site falls into too many categories of "news."

[2016-12-05 18:47] tomlutzenberger commented on #90
I did. But seems like I missed it.
Sorry about that 🙈

[2016-12-05 19:24] tomlutzenberger opened #91 "Data property ordering/structuring"
**Suggestions:**
- Move the language property to the begin of the line to make it easier to maintain (multi-selection in editors)
- Use whitespaces to add indentions between properties to make the file look more structured

[2016-12-05 20:45] selfagency commented on #91
sounds good, as does the hash idea described on gitter

[2016-12-05 21:12] tomlutzenberger commented on #91
Could be combined then. I'd suggest to **first change the data structure** and merge the EU data **afterwards**.

Is it necessary to order the data by url, language etc?

[2016-12-05 21:15] selfagency commented on #91
we should order by language then url

[2016-12-05 21:15] selfagency commented on #91
may as well merge the files first so you don't have to reformat two files

[2016-12-05 21:23] tomlutzenberger commented on #91
Yes, you're right.

[2016-12-05 23:32] BarkingUnicorn opened #97 "You need better instructions for reporting links"
So I went to https://github.com/selfagency/bs-detector/issues/53 and found no clue what to do from there.  You may want to fix that.

Here's what I want to report:

http://countercurrentnews.com/2016/12/dapl-corporation-just-told-army-corp-will-want-keep-building-illegal-pipeline-standing-rock/

Headline:  DAPL Corporation Just Told The Army Corp They Will Do What They Want And Keep Building ILLEG

[2016-12-05 23:55] doggie015 commented on #53
@selfagency how much evidence do you need? Websites? Documentaries? Scholarly papers? What will do it?

https://theconversation.com/murdoch-and-his-influence-on-australian-political-life-16752

https://www.themonthly.com.au/issue/2013/november/1383224400/robert-manne/why-rupert-murdoch-can-t-be-stopped

http://www.hca.westernsydney.edu.au/gmjau/?p=1075

http://anotherangryvoice.blogspot.com.au/201

[2016-12-06 03:20] selfagency commented on #97
thanks we'll review countercurrentnews

[2016-12-06 03:20] #97 closed

[2016-12-06 09:29] theothertom commented on #53
Can you add http://www.dailymail.co.uk/ under "Hate Speech" or possibly "Extreme Bias" and "Clickbait" ?

[2016-12-06 10:13] tomlutzenberger commented on #91
Fixed in #95

[2016-12-06 10:13] #91 closed

[2016-12-06 14:32] MakePublic commented on #53
Hi @selfagency - I really do think this is an excellent development, and spot on with Press TV and Russia Today.  I would like to add (and I see I am not alone)

http://www.dailymail.co.uk/  Hate Speech, Cherry Picking, Misrepresentation, Climate denial, Bullying.
http://www.express.co.uk/ Conspiracy theories over Climate Change, Brexit reporting, fake news.
https://www.thesun.co.uk/ Bullying and

[2016-12-06 15:05] hachre commented on #53
The general problem with lists like these is that there can never be a central authority that declares which news is biased and which isn't. This judgement will always be affected by politics, personal opinion, personal political leaning, monetary gains, state interests and so on.

For example: "www.rt.com" is on the list and marked as "state" - okay. But why aren't all the other (for example Euro

[2016-12-06 15:20] danhklein commented on #53
Hey @hachre, I don't entirely disagree with what you're saying (You should take a look at the gitter conversation on the data). Right now the 'State News" tag is limited to "Sources in repressive states operating under government sanction."

[2016-12-06 15:25] hachre commented on #53
danhklein: Alright, thanks for the info!

[2016-12-06 18:27] selfagency commented on #44
complete! #111

[2016-12-06 18:27] #44 closed

[2016-12-06 18:28] selfagency commented on #50
All known performance issues are resolved!

[2016-12-06 18:28] #50 closed

[2016-12-06 18:46] fcurella commented on #53
A couple of Italian national newspapers are classified as 'satire', when they are actual legit newspapers. They might be biased, but I wouldn't categorize them as satire.

The specific cases are:

* [ilmessaggero.it](https://github.com/selfagency/bs-detector/blob/master/_shared/data/data.json#L697): See [Wikipedia entry](https://en.wikipedia.org/wiki/Il_Messaggero)
* [ilfattoquotidiano.it](https:/

[2016-12-06 18:48] selfagency commented on #53
thanks @fcurella — we are looking for qualified folks in europe to review the european dataset. i will remove those two entries based on the info you've provided.

[2016-12-06 19:44] Syberpathetic commented on #53
I would like to submit [gazeteman.com](http://www.gazeteman.com/) to be filed under Clickbait and Junk Science. http://www.gazeteman.com/

[2016-12-06 19:46] WayneLinton commented on #50
thank you .... but it won't load in Firefox.  extension invalid error
message

On 06/12/2016 11:28 AM, Daniel Sieradski wrote:

--

[2016-12-06 19:58] selfagency commented on #53
@Syberpathetic definitely clickbait, thanks

[2016-12-06 23:22] doggie015 commented on #53
@selfagency Still awaiting a response

[2016-12-06 23:35] dabockster opened #113 "Separate the extension into separate editions per region"
Judging by the massive worldwide influx of recommendations in #53, I think creating separate BS Detector "editions" for different regions should be considered. Basically, instead of having one massive list, we could create separate extensions for users in the United States, Europe, Asia, and Austraila and have each respective extension use its own list.

Another possibility is to have a setup prom

[2016-12-07 01:49] Bastlynn commented on #113
This is a dupe of https://github.com/selfagency/bs-detector/issues/63 - we're looking at defaults by lang, and letting users pick one or more lists based on their own preferences.

[2016-12-07 03:15] #113 closed

[2016-12-07 03:15] selfagency commented on #53
@doggie015 we'll be reviewing those links and your references as part of our process of classification. please be patient as it is taking some time.

[2016-12-07 06:41] jkirwan opened #114 "Can't Install Add-on with FireFox 50.0.2/Windows 10 Enterprise"
### Extension version
0.2.7

### Browser and browser version
Firefox 50.0.2

### OS and OS version
Windows 10 Enterprise

### Expected behavior
Install add-on

### Actual behavior
Refuses to install add-on, indicating that it is "corrupt." This happens when I visit the mozilla add-on linked to by your page... this one, in particular:

  https://addons.mozilla.org/en-US/firefox/addon/bsdetector/

I

[2016-12-07 07:13] mschenk commented on #53
Can you remove http://thedailywtf.com from the list?  It is just a humor site where programmers post IT  horror stories.  Doesn't have anything to do with politics, pseudoscience or extremism at all...

How the site got included in the list is probably a good story for The Daily WTF actually... :-)

[2016-12-07 07:55] Bastlynn commented on #114
From a quick google on the error message it looks like it may be related to the unsigned status (the extension is currently undergoing review by mozilla): https://support.mozilla.org/en-US/questions/1095256 - I'll keep looking for other causes but at the moment I think it's likely signing is the issue here.

[2016-12-07 07:58] Bastlynn commented on #114
https://community.qualys.com/docs/DOC-5607 seems to confirm that an unsigned plugin registers as "corrupt".

[2016-12-07 09:31] jkirwan commented on #114
Thanks. I agree that's the problem. It will then have to wait until Mozilla gets a chance to sign it, I suppose. Hopefully, that process doesn't cause me to age a few more years. :) Thanks.

[2016-12-07 18:54] selfagency commented on #114
maybe we should put back instructions on how to self-install for now cuz... 😴
<img width="548" alt="screenshot 2016-12-07 13 55 27" src="https://cloud.githubusercontent.com/assets/2541728/20981969/a4466946-bc84-11e6-8398-a04e5ead16a8.png">

[2016-12-07 22:36] raichiss commented on #53
Not sure why [corbettreport.com](http://www.corbettreport.com) made the list - I would love some elaboration on your criteria.

[2016-12-07 22:52] selfagency commented on #53
@raichiss as stated on our website and readme, our initial dataset was compiled from existing lists of questionable news sources and is currently under review. we are planning to remove sometime today all sites that have not yet been reviewed. however, a quick glance at [corbettreport.com](https://www.corbettreport.com/tag/911/) reveals that he is a 9/11 truther, which is justification for listing

[2016-12-08 01:53] tomlutzenberger opened #118 "Attention: npm update makes gulp unexecutable"
Running an update on npm may get you in trouble.
It causes an error in [gulp-clean-css](https://www.npmjs.com/package/gulp-clean-css), which is already filed as issue: https://github.com/scniro/gulp-clean-css/issues/19
The module is missing `gulp-concat` for some reason.

To prevent making gulp unusable but run with the latest changes, you can *temporarily* add follwing to `devDependencies` in you

[2016-12-08 02:27] tomlutzenberger opened #119 ".bs-alert style fixes"
# z-index
Sometimes websites use fixed or absolute headers/navs and also z-index.
Our class has a z-index of 999, whereas e.g. Bootstraps navbars use a value between 1000 - 1100.
First discovered on: www.bento.de

Suggestion:
[code]

Realised www.focus.de:

[code]

Going to be hard to make this work. That number is the maximum possible integer value.

# closing button position

If pages have a ver

[2016-12-08 02:46] selfagency commented on #119
could probably use a `clear: both;` too

[2016-12-08 02:48] tomlutzenberger commented on #119
Site www.focus.de:

[code]

Going to be hard to make this work. That number is the maximum possible integer value.

[2016-12-08 02:50] selfagency commented on #119
you could do a scan of all attribute that have that number as their value and then decrement it by 1

[2016-12-08 02:52] scniro commented on #118
fixed on my end in 0b6914e461ac306c7c3cf437e403c5b0bf12586c

[2016-12-08 02:53] tomlutzenberger commented on #119
@selfagency
1. `clear: both` - Why?
2. Decrementing: This would be additional logic which may slow down the Ext. I'd like to prevent such things like extended website manipulation. More code == more potential bugs/problems

[2016-12-08 02:55] scniro commented on #118
[2.1.3 published](https://www.npmjs.com/package/gulp-clean-css) - sorry!

[2016-12-08 03:19] tomlutzenberger commented on #118
Thx!

[2016-12-08 03:19] #118 closed

[2016-12-08 06:13] AvangionQ commented on #53
Please check this site ... http://www.palmerreport.com

[2016-12-08 12:10] gcr opened #121 "Privacy concerns: i think this extension leaks all URLs you see; please clarify"
Thank you for your work on the BS detector! This is super-important work in my opinion and I'm glad you've chosen to take an initial crack at it.

I'm glancing at the Userscript port of the BS detector, https://github.com/bs-detector/bs-detector/blob/dev/browserscript/bs-detector.user.js

I see two privacy-related issues with this port that greatly worry me:

- **On every webpage, this script send

[2016-12-08 14:58] gcr commented on #121
A quick update: Some of the concerns that I wrote above don't apply to the Chrome extension.

- The data.json file appears to be loaded once by the background page, meaning it does not leak your browsing history to github via the Referer header;
- The chrome extension doesn't load extra CSS

However, I'm still concerned about the `unshorten.me` URL service, which is being called with every link UR

[2016-12-08 18:22] selfagency commented on #121
Privacy is a concern of mine as well. That's why the extension doesn't store any user data at all (though future iterations will store configuration settings locally and nothing else). We are also replacing unshorten.me (which as far as I know hasn't been working for several releases) with a client-side brower-based URL unshortener so that we can eliminate dependency on third party services. That

[2016-12-08 18:53] thinkcontext opened #122 "Have debug accept variable length arguements"
This would get rid of "[object object]" and like messages in the console.

[2016-12-08 18:55] thinkcontext opened #123 "Only run content script in top frame or twitter"
There's significant performance penalty for running in all iframes, some ad heavy pages can have 30+ frames.  We should have an opt in policy for running in iframes, twitter has been identified as such a case.

[2016-12-08 19:47] selfagency commented on #119
`clear: both` because this is happening on some sites currently and is likely related to floats:

<img width="1429" alt="screenshot 2016-12-07 17 29 40" src="https://cloud.githubusercontent.com/assets/2541728/21025111/3b510154-bd55-11e6-9d05-deeacb552f38.png">

[2016-12-08 19:48] selfagency commented on #119
in re: decrementing— what if you only targeted nav elements and elements with ids and classes containing the word nav

[2016-12-08 20:11] tomlutzenberger commented on #119
1. That happens, because counterpunch.org targets all `p` with `max-width: 560px`. We'd better switch to `<span>`.
2. I'll take a look at this.

[2016-12-08 20:12] thinkcontext commented on #33
Thinking about this a little more, having the client expand links allows both the shortener service (bitly, etc) and the destination site to track you.  Some shortener services will tell you the destination (with bitly just add a + on the end) so that would somewhat lessen the problem.

[2016-12-09 01:20] selfagency commented on #119
span is an inline element and can't have text centered tho i suppose the div it's in can

[2016-12-09 01:32] selfagency commented on #33
what if we make it optional on the settings page and explicitly state the privacy implications of switching it on

[2016-12-09 02:08] selfagency commented on #33
another thought— could we use the [fetch api](https://developers.google.com/web/updates/2015/03/introduction-to-fetch) to request specific headers without loading a page fully so at best the second party logs an IP in their server logs but it doesn't turn up on google or any other page analytics?

[2016-12-09 04:42] HolmesInOz commented on #53
please remove theage.com.au it's mainstream news, not even owned by murdoch

or alternatively you could add the murdoch papers

thedailytelegraph.com.au
theaustralian.com.au

[2016-12-09 08:30] BigMcLargeHuge commented on #53
@HolmesInOz theage.com.au has been removed from our recently revised list of sources. Should be merged with PR #117

[2016-12-09 09:54] anddman commented on #53
http://dietagespresse.com/
"dietagespresse.com":                                  {"language": "de", "type": "satire", "notes": ""},
Official disclaimer: "Die Tagespresse ist eine österreichische Satirezeitung. Alle Artikel sind frei erfunden."
Google translation: "The daily press is an Austrian satire newspaper. All articles are fictitious."

https://www.unzensuriert.at/
"unzensuriert.at":

[2016-12-09 20:58] thinkcontext commented on #33
Does fetch let you control whether cookies get set?

I'd also be concerned about the possibility that the link itself contains a tracking token.  Say a user with the extension gets a shortened link with an individually identifiable token in an email and then views it in the browser.  There are probably other scenarios that could happen as well.

[2016-12-10 03:14] selfagency commented on #33
as far as i understand, whether xmlhttprequest or fetch, the page comes back as text. since it's not loaded in the browser as an HTML document, none of the javascript on the page actually fires. therefore a cookie can't be set, a tracking link can't send a ping home, etc.

[2016-12-10 04:11] Sputnikian commented on #53
http://www.bayonpearnik.com/
fake news, rumor mill, conspiracy theory, extreme bias

[2016-12-10 04:24] lewisje commented on #33
I believe that the server can still set cookies: Cookies are an HTTP thing, not a JS thing; it's just that JS in the browser has an API for interacting with cookies (except for "HTTP-Only" cookies).

[2016-12-10 04:59] cdome commented on #53
This page (https://echo24.cz/a/isYwV/42-ceskych-a-slovenskych-webu-ktere-siri-ruske-lzi) contains list of 42 czech and slovak webs spreading conspiracy and Russian propaganda. Some of them are already on your list, some of them are missing:
www.svetkolemnas.info
www.zvedavec.org
www.ac24.cz
www.rodinajezaklad.sk
www.stopautogenocide.sk
www.osud.cz
http://czech.ruvr.ru/
http://slovak.ruvr.ru
www.ze

[2016-12-10 06:52] selfagency commented on #123
solved in #130

[2016-12-10 06:53] selfagency commented on #119
styles fixed in #130

[2016-12-10 06:53] selfagency commented on #122
resolved in #130

[2016-12-10 17:43] selfagency commented on #33
tc and i discussed this in the gitter last night and we believe we found a way around it

[2016-12-11 01:55] #123 closed

[2016-12-11 01:55] #122 closed

[2016-12-11 01:55] #119 closed

[2016-12-11 12:03] fredvries commented on #53
Dutch conspiracy sites
- www.revolutionaironline.com (frequently links to Alex Jones, thinks he's falsely procecuted, in 'exile' in Ireland)
- https://rechtiskrom.wordpress.com (thinks that a murderer who confessed and is sentenced isn't the real murderer, stalking the family of the victim)
- www.niburu.nl (site believes in everything)
- www.wanttoknow.nl (site believes in everything, like vaccine

[2016-12-11 21:55] tomlutzenberger opened #134 "Flags and observers for Reddit"

[2016-12-11 21:55] tomlutzenberger opened #135 "Flags and observers for Tumblr"

[2016-12-11 21:56] tomlutzenberger opened #136 "Flags and observers for LinkedIn"

[2016-12-11 21:56] tomlutzenberger opened #137 "Flags and observers for Google+"

[2016-12-11 21:57] tomlutzenberger opened #138 "Flags and observers for Pinterest"

[2016-12-11 21:57] tomlutzenberger opened #139 "Flags and observers for Medium"

[2016-12-11 22:04] tomlutzenberger opened #140 "Break JS up into modules and use Splittable to bundle"
https://github.com/cramforce/splittable

[2016-12-11 22:09] tomlutzenberger opened #141 "Load data into local storage"
Data should be updated once a day and stored in browsers localstorage to avoid needless traffic.

[2016-12-11 22:33] tomlutzenberger commented on #121
Related to #33

[2016-12-11 22:41] tomlutzenberger opened #142 "Move from Gulp to Grunt"
Already discussed with @selfagency

Pro Grunt:
- More packages ([6'000](http://gruntjs.com/plugins) vs. [2'200](http://gulpjs.com/plugins/))
- Bigger community
- More control through API

Con Grunt:
- 2x slower (but maybe irrelevant)
- Less readable

[2016-12-11 22:52] tomlutzenberger opened #143 "Create options page"
Empty options page with a bunch of information about the extension, how to contribute and links to this repository

[2016-12-11 22:53] tomlutzenberger opened #144 "Create option for users to add/remove whitelisted domains"
See #36
Depends on #143

[2016-12-11 22:54] tomlutzenberger opened #145 "Create option to ignore specific flag types"
See #36
Depends on #143

[2016-12-11 23:04] tomlutzenberger opened #146 "Create extension popup"
Popup with site details, ability to submit a site for review (#36) or whitelist a domain(#79)

[2016-12-11 23:08] tomlutzenberger opened #147 "Multiple classifications per domain"

[2016-12-11 23:17] tomlutzenberger opened #148 "Edge support"

[2016-12-11 23:17] tomlutzenberger opened #149 "Create CMS for managing DB and host DB in the cloud"
see [kanboard](https://github.com/bs-detector/bs-detector/projects/6)

[2016-12-11 23:19] tomlutzenberger opened #150 "Mobile browser"

[2016-12-11 23:19] tomlutzenberger opened #151 "Scan for names (not just links) of unreliable sources in news articles and highlight."

[2016-12-11 23:20] tomlutzenberger opened #152 "Add support for specific Facebook Page URLs"

[2016-12-11 23:33] tomlutzenberger commented on #114
Is this still an issue?

[2016-12-11 23:37] tomlutzenberger opened #153 "Flags and observers for Google"

[2016-12-11 23:37] tomlutzenberger opened #154 "Flags and observers for Bing"

[2016-12-11 23:38] tomlutzenberger opened #155 "Flags and observers for Yahoo"

[2016-12-11 23:38] tomlutzenberger opened #156 "Flags and observers for Ask.com"

[2016-12-11 23:38] tomlutzenberger opened #157 "Flags and observers for AOL"

[2016-12-11 23:39] tomlutzenberger opened #158 "Flags and observers for excite.com"

[2016-12-11 23:39] tomlutzenberger opened #159 "Flags and observers for DuckDuckGo"

[2016-12-11 23:40] tomlutzenberger opened #160 "Flags and observers for wow.com"

[2016-12-11 23:41] tomlutzenberger opened #161 "Flags and observers for webcrawler.com"

[2016-12-11 23:42] tomlutzenberger opened #162 "Flags and observers for infospace.com"

[2016-12-11 23:42] tomlutzenberger opened #163 "Flags and observers for dogpile.com"

[2016-12-12 02:13] selfagency opened #164 "Refactor per-site switch cases to JSON-backed object"

[2016-12-12 03:03] jkirwan commented on #114
It is for me. Just tested it again. Same results.

[2016-12-12 03:05] Bastlynn commented on #114
Mozilla can end up taking a lot of time on their review since it's a manual process. At last check we're around 250 in the queue. :-/

[2016-12-12 08:12] tomlutzenberger commented on #114
So it will be solved sooner or later. From my POV, this can be closed.

[2016-12-12 08:12] #114 closed

[2016-12-12 21:44] tomatell commented on #141
I just made a pull request to dev for the update - 90a0612c317482f8e7c9d3293b1c85571a988f82.
The details of the update are as follows:

- Checks the last committed date/time of otCredible.json. If the date/time is differed, the json data is downloaded and stored into the local storage database.

- Removed data/data.json as it is not required for this version

[2016-12-14 14:56] peppersgc commented on #53
This is literally fake news.

http://www.dailymail.co.uk/tvshowbiz/article-4021280/Grand-Theft-Auto-Clarkson-s-TV-comeback-illegally-downloaded-history-viewers-pirating-episode-7-9million-times.html

[2016-12-14 15:12] peppersgc commented on #53
https://www.wikileaks.org/ - Is NOT a news site. It releases verified information gathered in the public interests. The only information site in history that throughout its entire existence (10 years) has never had to retract disseminated information for being proven false.

http://drudgereport.com/ - A news aggregate site. Almost everything listed there are links to other sites. If any story link

[2016-12-14 15:13] peppersgc commented on #53
Lies embedded in stories also constitute heavily biased fake news.

http://www.nytimes.com/2016/11/19/us/mike-pence-hamilton.html

[2016-12-14 15:13] peppersgc commented on #53
Lies embedded in stories also constitute heavily biased fake news.

http://www.huffingtonpost.com/entry/mike-pence-booed-hamilton_us_582fbe42e4b030997bbf9782?

[2016-12-14 17:13] OlivierLabbe commented on #53
Salon.com :: Extreme Bias
HuffingtonPost.com :: Clickbait
Buzzfeed.com :: Clickbait

[2016-12-14 17:26] sleslie commented on #53
This page (http://fusion.net/story/375283/belle-fourche-pipeline-spill-belfield-north-dakota/?utm_source=fusiondaily&utm_medium=email&utm_campaign=12122016) was flagged for "Satire." There is definitely nothing satirical about this story. I can't speak to the site as a whole, but if important unbiased stories like this are getting flagged simply because of stories on another part of the domain, it

[2016-12-14 17:54] MakePublic commented on #53
Well, if so would not the flagged category be generally correct - maybe
drop the 'satire' bit?

Chris

On 14/12/2016 17:26, Scott Leslie wrote:

[2016-12-14 18:10] sleslie commented on #53
So it's not a site I frequent a lot but I just took some time to go through it. It looks to me to be reporting factual stories in a non-hyperbolic or biased way. It certainly is curated to report stories of interest to "progressives" but if you're flagging sites simply for having a target audience, I'm not sure what to say. There is no evidence at all that this site is either "satire" or "fake new

[2016-12-14 21:55] tomlutzenberger commented on #53
# Announcement

The handling and maintenance of site data is a very large task that is separate from developing code.

For this purpose, a work-group has been founded where experts like professors and librarians may review the submitted sources in a neutral and nonbiased way using their professional experience. That group is named Open Sources and is accepting volunteers at this time.

When those

[2016-12-15 00:19] Bastlynn commented on #121
It's worth noting that the browserscript code is intended for Greasemonkey and is currently lagging behind the development on the standard extension code. It needs to be updated but hasn't yet mostly due to rapid development cycles on the extension and my personal lack of time this week. I'll be taking a look at porting new features over later this month.

[2016-12-15 02:59] selfagency commented on #53
B.S. Detector is no longer responsible for maintaining the dataset powering our flagging engine. To suggest or dispute entries, [file an issue with OpenSources](https://github.com/bigmclargehuge/opensources/issues).

[2016-12-15 02:59] #53 closed

[2016-12-22 21:52] the-nothingman opened #169 "Firefox and Userscript installation options are broken"
### Extension version

### Browser and browser version
[ ] Chrome [X ] Firefox [ ] Other, Version:

### OS and OS version
[ ] Mac [ X] Windows [ ] Linux, Version: 10

Cannot install the firefox version of the addon (from: https://addons.mozilla.org/en-US/firefox/addon/bsdetector/) because Firefox keeps calling it corrupt

also if I try to install the userscript version (from: https://github.com/bs

[2016-12-22 22:45] tomlutzenberger commented on #169
Hi @the-nothingman

Firefox calls it corrupt, because this version has not been reviewed and therefore not been signed yet. Mozilla needs a quite long time to review new extensions or versions 😞

If you want to install it from the source, you have to choose the script in the `/ext/` directory. This one is compatible with chrome and firefox.

Hope this was helpful 😊

[2016-12-26 23:24] selfagency opened #170 "Firefox review feedback"
Good news! We're approved in the Firefox Add-on directory.

Here's what they want to see fixed in the next release:

1) expandLinks asynchronously expands the links. So the sendResponse call at line 146-149 in background.js will not contain all links. I suggest to wait until all request finish before calling sendResponse. You can asynchronously call sendResponse by returning true inside the onMess

[2016-12-27 00:26] Bastlynn commented on #169
Firefox version has been reviewed as of today (12/26). It is up and ready to go - enjoy!

https://addons.mozilla.org/en-US/firefox/addon/bsdetector/

Once I update with their feedback, I'll be coming back around to the user scripts to port over all of the various updates we've done in the main code to the userscript version.

[2016-12-27 00:31] Bastlynn commented on #170
I've got a branch open on my local and starting work on these.

[2016-12-27 04:41] Bastlynn commented on #170
PR is up - does not address #4 since that's not a code thing.

[2016-12-27 13:45] thinkcontext commented on #170
Regarding expandLinks, I'd suggest making async work rather than waiting for all links to resolve and sending in a batch (synchronously).  Say there are 10 shortened links on a page and when unshortening the 10th one stalls with 1/2 second delay.  When using asynchronous style the UI for 9 links can be displayed immediately, the 10th will lag (if its even noticed).  With synchronous style the disp

[2016-12-27 14:55] tomlutzenberger commented on #170
I agree with @thinkcontext. This might lead to delays and therefore bad UX.

[2016-12-28 06:01] Bastlynn commented on #170
Done! Now using a callback on success to return the link instead of waiting for all processing with a defer.

[2016-12-28 22:26] Bastlynn opened #172 "[Refactor] Add wrappers for chrome.extension calls"
I'm getting a little ahead of some technical debt with this issue.

Since we're looking at wanting to support Chrome and FF with the same code base, we currently have a strategy of looking for the chrome object, and if not found, looking for the browser object and renaming it to chrome.

There are some drawbacks to this approach, where it assumes that the chrome functions and browser functions hav

[2016-12-28 22:33] Bastlynn opened #173 "[Testing] Selenium? Or is there a better choice of platform?"
I'm familiar with Selenium and making a Selenium script against a test page should be pretty straightforward. But I'm sure there's someone on this project with more javascript specific knowledge....

So, thoughts, concerns, better options for testing javascript to suggest?

[2016-12-29 09:58] tomlutzenberger commented on #173
For frontend testing, using Selenium would be awesome. But as far as I know, it's not capable to do classic unit tests. Here it would be nice to have a framework like http://phantomjs.org.
Unfortunately I'm not very familiar with this topic. Any other opinions or suggestions?

[2016-12-29 10:15] Bastlynn commented on #173
Leaving this link here for how mozilla thinks about doing this - which is also Selenium driven.

https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Cross_browser_testing/Automated_testing

[2016-12-29 10:18] tomlutzenberger commented on #169
Assuming this is resolved, so I'll close the issue for now.
In case of further questions, feel free to get back at us.

[2016-12-29 10:18] #169 closed

[2017-01-03 23:23] Bastlynn commented on #172
Wrappers added on https://github.com/bs-detector/bs-detector/pull/174

[2017-01-05 21:55] tomlutzenberger opened #177 "Add HoundCI to the Repository"

[2017-01-05 22:17] #177 closed

[2017-01-06 19:18] Bastlynn opened #179 "Upgrade greasemonkey script with latest feature set"
Upgrade greasemonkey script with latest feature set - it's lagging behind at the moment and needs it. Assign to @Bastlynn please.

[2017-01-17 03:18] dylanrees opened #181 "Firefox download problem"
It looks as though the link to download the Firefox add-on is broken.  I followed the link on the project's front page but it appears the that download hangs indefinitely.

[2017-01-17 09:04] tomlutzenberger commented on #181
What version of Firefox are you using?

[2017-01-17 18:29] dylanrees commented on #181
I'm on 49.0 for Linux Mint.

[2017-01-17 20:41] brettins opened #182 "Add Individual Author Reliability"
This would be a fairly complicated endeavour, but I think it would add a lot of value to the extension. The main things invovled would be (a) a system for rating authors that maintains the objectivity of the extension, and (b) implementing a way to identify an individual author on a site.

I think any sort of individual Author work identification would need to be crowdsourced in some intuitive way

[2017-01-17 20:43] tomlutzenberger commented on #181
That sounds strange. Could you provide a screenshot of the Firefox extension website?

[2017-01-17 22:12] Bastlynn opened #183 "Matching by URL Patterns?"
Right now we're going strictly by URL - but there are some things I think we could do well with a pattern. For example matching on:

http://www.newyorker.com/humor/borowitz-report/

That would allow us to make notes of editorial columns and humor columns without pegging the entire site?

[2017-01-17 22:18] tomlutzenberger commented on #183
Sounds great. But it would also mean that the opensource project has to update/adjust its data.
Any ideas?

[2017-01-17 22:48] Bastlynn commented on #183
We would have to make that switch simultaneously with them yeah. That or maintain our own list for specifically satire columnists until they make that switch. I would recommend if we do that keeping our list specifically to self-identified columnists for obvious reasons. And maybe moving to using a yellow alert color instead of red in that case?

[2017-02-09 23:30] tomlutzenberger opened #185 "Displaying alerts on credible sources"
This might be useful as well. I think of a green alert box to mark credible sources

[2017-02-14 08:31] BigMcLargeHuge opened #186 "Push latest version to chrome/mozilla store."
I noticed that the version of this in the chrome store was from December.  We've made a good deal of improvements (in the available sources if in nothing else).  Is there anything holding us back from releasing an updated version?

[2017-02-14 08:43] tomlutzenberger commented on #186
I know. Even my changes and improvements are ready for review and merging afterwards.
But I can't reach @selfagency and I have no credentials to the stores 😞
Maybe you could give it a try on Gitter/Twitter?

[2017-02-14 08:45] BigMcLargeHuge commented on #186
sure, I'll give it a shot!

On 02/14/2017 01:43 AM, Tom Lutzenberger wrote:

[2017-02-21 11:48] aligajani opened #187 "Add in sources from my list"
https://github.com/aligajani/fake-news-detector

[2017-02-21 12:01] tomlutzenberger commented on #187
Hi Ali!
Thanks for your interest. But as mentioned in our README, the data sources are no longer maintained by us (for legal reasons).
Please refer to the [Opensources Project](https://github.com/OpenSourcesGroup/opensources). There you can open an issue or contact @BigMcLargeHuge via [Gitter](https://gitter.im/opensources1/Lobby)

[2017-02-21 12:01] #187 closed

[2017-02-21 12:21] aligajani commented on #187
Okay great. I just told them as well.

On Tue, Feb 21, 2017 at 12:01 PM, Tom Lutzenberger <notifications@github.com

--

Ali Gajani
Founder at Mr. Geek
www.mrgeek.me
www.aligajani.com

[2017-09-28 19:48] mlissner opened #188 "Privacy concerns"
I installed this hoping that it would just flag dubious sites as I browsed, and I'm super disappointed to see that it is doing so much more:

 - Parsing links on every page (this affects performance)
 - Sending links to unshorten.me (this affects privacy)
 - Inserting HTML into pages before I click links (this can affect/break pages, and I generally don't love it)

I wonder if it might be possible

[2017-09-29 07:20] tomlutzenberger commented on #188
Hi @mlissner. This project is abandoned since a while. You might want to have a look at rbutr.com
It follows a community-driven and less strict approach.
We're currently working on a new version. If you got questions, send a mail to info@rbutr.com or open an issue in the repo: https://github.com/rbutrcom/rbutr-browser-extension

[2017-09-29 16:45] mlissner commented on #188
Thanks for chiming in, @tomlutzenberger. Good (but sad) to hear that this is abandoned. rbutr is still more than I want. I don't need network stuff or rebuttals. I just want to know when I'm on a fake news site, which this extension does, but with a bunch of other complexity added in. Maybe I'll attempt a trimmed down version.

[2018-05-22 23:09] Arkoma opened #189 "always ghosted???"
the extension doesn't appear to be working at all. I am using chrome on a mac and I restarted the browser and turned the extension off and back on and it stays ghosted out.  Any help would be appreciated.

**STOP AND READ THIS**
If you want to report a link to add or remove from our dataset, go here: https://github.com/selfagency/bs-detector/issues/53
If you want to report performance issues, go h

[2018-05-29 20:26] selfagency commented on #189
sorry this project has been frozen for over a year

[2018-06-04 09:09] robertlipe opened #190 "Are bs-detector and opensources.co effectively dead?"
I've made several submissions to Opensources, with supporting documentation and sometimes even PRs, and never saw any acknowledgement. Their github page shows no commits in two years. This looks like it's been frozen for one. (The data set is surely more in need of constant maintenance than the code...) It's not a compelling sign of life when the BS detector looks to have given up.

Is this projec

[2018-06-04 09:42] Aegist commented on #190
I'd say it is dead. Most projects in this space end up dead soon enough.
Everyone thinks it is an easy fix, then they try, then reality sets in and
no money comes and yet work continues to be required.

I've been operating rbutr since 2012, and we're one of the oldest lasting
players in this space, but only because we intentionally set it up to run
without many overhead costs, and because I am too

[2019-02-11 04:06] MNaplesDevelopment opened #192 "Another website to add to the list."
http://prolife365.com/blog/

Mostly bias and conspiracy articles. Should be added to the list.